html,body{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-image: url(images/dark.jpeg);
    background-size: cover;
    display: flex;
    
}
    
#container{
    position: absolute; 
	width: 300px; 
	height: 100px; 
	left: 45%; 
	top: 50%; 
	margin-left: -300px; /* This is half the width */ 
	margin-top: -200px; /* This is half the height */ 
    width:800px;
    height: 675px;
    border:5px groove rgb(238, 238, 238);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 15px black
   
}
.score{
    color: rgb(240, 247, 247);
    padding-left: 50px;
    padding-right: 50px;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 0 0 5px rgb(6, 186, 241), 0 0 10px rgb(221, 60, 221), 0 0 30px 
#ddb7ca, 0 0 40px #181617, 0 0 50px #0d1725, 0 0 60px #e60073, 0 0 70px 
#e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px 
#ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
.score h2{
    font-size: 40px;
    font-family: 'Acme', sans-serif;
    font-weight: inherit;
    font-style: initial;
    font-variant: small-caps;
 color: rgb(228, 240, 216);

}

.score p{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: rgb(255, 0, 212);
}

.intro{
    color: rgba(18, 206, 231, 0.863);
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Acme', sans-serif;
    font-weight: inherit;
    font-style: initial;
    font-variant: small-caps;
    justify-content: space-evenly;
    transition: opacity 0.2s ease;
    text-shadow: 0 0 10px rgb(224, 10, 207), 0 0 5px rgb(98, 134, 231), 0 0 
10px #042bd6, 0 0 5px 
  
  
  
}
.intro h1{
    font-size: 50px;
    
}
.intro button{
    width:200px;
    height: 50px;
    border: 3px inset rgb(238, 5, 102);
    background-color: rgba(243, 8, 118, 0.123);
    color: rgb(239, 243, 243);
    text-shadow: 0 0 3px rgb(0, 17, 255);
    font-size: 35px;
    border-radius: 13px;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
  
}
.match button{
    margin-right:30px;
    width:200px;
height: 40px;
border: 3px inset rgb(10, 225, 233);
background-color: rgba(243, 8, 118, 0.123);
color: rgb(239, 243, 243);
font-size: 20px;
text-shadow: 0 0 3px rgb(0, 17, 255);
border-radius: 13px;
cursor: pointer;
font-family: 'Acme', sans-serif;
}
.match{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity 0.4s ease 0.4s;
}
.winner{
    color: rgb(248, 248, 248);
    text-shadow: 0 0 10px rgb(224, 10, 207), 0 0 5px rgb(98, 134, 231), 0 
     0 10px #042bd6, 0 0 5px;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    height: 15vh;
}
.hands{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}
.options{
display: flex;
justify-content: space-around;
align-items: center;
padding: auto;
}

.player-hand{
    transform: rotateY(180deg);
   
}
div.fadeOut{
    opacity: 0;
    pointer-events: none;
}
div.fadeIn{
    opacity: 1;
    pointer-events: all;
}

@keyframes shakePlayer{
    0%{
        transform: rotateY(180deg) translateY(0px)
    }
    15%{
        transform: rotateY(180deg) translateY(-50px)
    }
    25%{
        transform: rotateY(180deg) translateY(0px)
    }
    35%{
        transform: rotateY(180deg) translateY(-50px)
    } 
    50%{
        transform: rotateY(180deg) translateY(0px)
    }
    65%{
        transform: rotateY(180deg) translateY(-50px)
    }
    75%{
        transform: rotateY(180deg) translateY(0px)
    }
    85%{
        transform: rotateY(180deg) translateY(-50px)
    }
    100%{
        transform: rotateY(180deg) translateY(0px)
    }
     
}
@keyframes shakeComputer{
    0%{
        transform: translateY(0px)
    }
    15%{
        transform:  translateY(-50px)
    }
    25%{
        transform:  translateY(0px)
    }
    35%{
        transform:  translateY(-50px)
    } 
    50%{
        transform:  translateY(0px)
    }
    65%{
        transform:  translateY(-50px)
    }
    75%{
        transform:  translateY(0px)
    }
    85%{
        transform:  translateY(-50px)
    }
    100%{
        transform:  translateY(0px)
    }
    
    
    
}